*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    align-content: center;
}
body{
    text-align: center;
    background: white;   
    width: 100%;
    heigth: 100%;
}
form{
    text-align: center;
    align-content: center;
    background: pink;
    width: 60%;
    margin: 10%;
    border-radius: 5px;
    padding: 10%;
    margin-left: auto;
    margin-right: auto;
}
input[type=text],select{
    width: 80%;
    padding:12px 20px;
    margin: 8px 0;
    display:inline-block;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 30px;
    text-align: center;
}
.result
{
    margin-top: 20px;
    font-size: 20px;
    color: black;
    background-color: rgb(32, 241, 13);
    border-radius: 10px;
    padding: 8px;
    border-style: inherit;

}

button{
    border: none;
    background: blue;
    color:  white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor:pointer;
    border-radius: 5px;
    
}
button:hover
{
    background-color: antiquewhite;
    color: black;
}
#reset{
    background: blue;
    color: white;
}
#reset:hover
{
    background-color: antiquewhite;
    color: black;
}